+<%= link_to product_path(product.id) do %>
+ <h2>
+   <%= number_to_currency(product.formatted_price) %>
+   <%= product.name %>
+ </h2>
+<% end %>

<%= product.id %>:
<%= product.name %>
<%= product.formatted_price %><br/>